body{
    background-color: #cccccc ;
}
.Prime-button{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cardsSection{
    width: 88%;
    margin: auto;
}
.sortable { list-style-type: none; margin: 0; padding: 0;height: 175px}
.sortable li { margin: 0 3px 3px 3px; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.drag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}
.AddListButton{
    margin-top: 10px;
    width: 49%;
}
#New-List{
    text-align: center;
}
.width{
    width: 250px;
    border: 1px solid #ced4da;
    margin-bottom: 5px;
}
.cardButt {
    margin-left: 82px;
    // background-color: transparent;
    background-color:white;
    
    padding-top: 0px;
    width: 26px;
    height: 24px;
    padding-left: 6px;
    border-radius: 12px;
    padding-left: 7px;
    font-family: sans-serif;
}
.cardButt:focus{
    box-shadow: none;
}
.cardButt:hover{
    background-color: black;
    color: white;
}
.save-create{
    width: 100%;
}
.red{
    border: red;
}



